.marginBodyFooter {
height: 380px;
}

body {
	margin-left: 15%;
	margin-right: 15%;
}



.panel-footer{
text-align:center;
}

.navbar {
	border-radius: 0px;
}

.panel {
border-radius: 0px;
}

.row.smell {
	margin-left: 10px;
}



* {
  margin: 0;
  padding: 0;
}
.content {
  min-height: calc(92vh - 80px);
}

.img-responsive {
	height: 300px;
	margin-top: 20px;
	margin-bottom: 20px;
}

p {
	margin-top: 10px;
}

.media-body {
	padding-top: 3%;
} 